<template>
    <div id="app">
        <!-- <app-row v-for="(item, index) of data" :row="item" :number="index" :key="item.id"></app-row>-->
        <transition-group name="fade" mode="out-in">
            <div class="row" v-for="(row, i) of order"
                 :key="row.id"
                 :class="{'red': !row.availability.isAvailability, 'additional': row.optional.isOptional}"
                 >
                <div class="col">{{ }}</div>
                <div class="col">
                    <button @click="changeRowPosition(i, -1)" :disabled="row.optional.isOptional">Up</button>
                    <button @click="changeRowPosition(i, 1)" :disabled="row.optional.isOptional">Down</button>
                </div>
                <div class="col">{{ row.id }}</div>
                <div class="col">
                    <p v-for="p in row.title" :key="p">{{ p }}</p>
                </div>
                <div class="col">
                    <p v-for="p in row.created" :key="p">{{ p }}</p>
                </div>
                <div class="col">
                    <p v-for="p in row.edited" :key="p">{{ p }}</p>
                </div>
                <div class="col">
                    <p v-for="p in row.tested" :key="p">{{ p }}</p>
                </div>
                <div class="col">{{ row.status }}</div>
                <div class="col">
                    <p>{{ row.optional.isOptional }}</p>
                    <p v-if="row.optional.isOptional">{{ row.optional.parentId }}</p>
                </div>
                <div class="col">
                    <p>{{ row.availability.isAvailability }}</p>
                    <p v-if="row.availability.isAvailability">{{ row.availability.text }}</p>
                </div>
            </div>
        </transition-group>
    </div>
</template>

<script>
    /*
    import Row from './components/Row.vue'
    */

    import list from './list.js';

    export default {
        name: 'App',
        /* components: {
          'app-row': Row
        },*/
        data() {
            return {
                number: 0,
                subNumber: 0,
                list: list,
                order: []
            }
        },
        /*
          filters: {
            filterNumber(number, subNumber, i) {
             /!* console.log(this);*!/
               if (data[i].optional.isOptional) {

                 return this.number + '-' + subNumber++;
               } else {

                 return i - subNumber;
               }
             },
        */

        computed: {
            // filterNumber: function() {
            //   this.number++;
            //   return this.number;
            // }
        },
        mounted() {
            for (let i in this.list) {
                if (!this.list[i].optional.isOptional) this.order.push(this.list[i]);
            }
            this.reorder();
        }
        ,
        methods: {

            reorder() {

                // this.order = [];
                //
                // for (let i in this.list) {
                //     if (!this.list[i].optional.isOptional) this.order.push(this.list[i]);
                // }

                this.order = this.order.filter(el =>
                    !el.optional.isOptional
                );

                let onlyOptional = this.list.filter(el =>
                    el.optional.isOptional
                );
                console.log(onlyOptional);

                for (let i in onlyOptional) {
                    let fIndex = -1;
                    this.order.forEach((el, index) => {
                        if (el.id == onlyOptional[i].optional.parentId) {
                            fIndex = index;
                        }
                    });
                    console.log(fIndex);
                    this.order.splice(fIndex + 1, 0, {...onlyOptional[i]});
                }
            },
            changeRowPosition(currentIndex, direction) {
                console.log(this);

                let newIndex = currentIndex + direction;

                if (newIndex < 0 || newIndex >= this.order.length) return;

                let reorder = true;

                while (this.order[newIndex].optional.isOptional) {
                    newIndex += direction;

                    reorder = true;
                    if (newIndex < 0 || newIndex >= this.order.length) return;

                }

                if (newIndex >= 0 && newIndex < this.order.length) {
                    const newData = {...this.order[newIndex]};

                    this.order[newIndex] = this.order[currentIndex];

                    this.order.splice(currentIndex, 1, newData);

                    if (reorder) this.reorder();
                }
            }
        }
    }

</script>

<style scoped>
    #app {
        display: flex;
        flex-flow: column nowrap;
    }

    .row {
        display: flex;
        flex-direction: row;
        transition: all 1s;
      margin-top: 8px;
    }

    .row:nth-child(2n) {
      background-color: lightgrey;
    }

    .col {
        flex-grow: 1;
        /*border: 1px solid #000;*/
        margin: 4px;
        text-align: center;
        background-color: lightblue;
        border-radius: 8px;
    }

    .red {
        background-color: #ed2540 !important;
    }

    .additional {
        background-color: orange !important;
    }

</style>
